$font-size: 20px;
$font-color:#eeeeee;
$font-family: "Roboto", sans-serif;
$font-family2: "Amatic SC",cursive;

//colors//

$yellow: #ffce31;
$cyan:#31cece;
$magent: #ff31ce;
$green:rgb(40,114,79);
$pink:#ff639c;
$salmon: rgb(255,157,162);
$blue:rgb(149,149,210);
$darkblue:rgba(32,23,71,.5);
$white:#eeeeee;
